:root {
  --animate-duration: 1.2s;
  //Primary
  --color-very-dark-blue: hsl(243, 87%, 12%);
  --color-desaturated-blue: hsl(238, 22%, 44%);

  //Accent
  --color-bright-blue: hsl(224, 93%, 58%);
  --color-bright-blue-o: hsl(224, 93%, 63%);
  --color-moderate-cyan: hsl(170, 45%, 43%);

  //Neutral
  --color-light-grayish-blue: hsl(240, 75%, 98%);
  --color-light-gray: hsl(0, 0%, 75%);

  // Typography
  --font-Raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  //breakpoints
  --sm-min: 30rem;
  --md-min: 40rem;
  --lg-min: 56rem;
  --xl-min: 72rem;
  --xxl-min: 90rem;

  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-open-sans);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Raleway);
}
%img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 31rem;
  @media (min-width: $md-min) {
    height: 20rem;
  }
}
.container {
  max-width: 100%;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: $sm-min) {
    width: var(--sm-min);
  }
  @media (min-width: $md-min) {
    width: var(--md-min);
  }
  @media (min-width: $lg-min) {
    width: var(--lg-min);
  }
  @media (min-width: $xl-min) {
    width: var(--xl-min);
  }
  @media (min-width: $xxl-min) {
    width: var(--xxl-min);
  }
}
